<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Unifonic</h1>
    <p>
      Please find the CSV link  <%= @bulk_request.csv_link %> of all the tiny urls for <%= @bulk_request.external_ref_id %>
    </p>
    <p>Have a great day!</p>
  </body>
</html>
